
span {
    color: RGB(136,0,22);
}

div.logo {
    float: right;
    width: 115px;
    height: 130px;
    border: 3px solid black;


}

html{
    background-color: darkblue;
}

div.logo{
    float: right;
    border-bottom: ridge;
}

