html {
    background-color: RGB(26, 32, 94);
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

div.logo {
    float: right;
    width: 115px;
    height: 130px;
    border: 3px solid black;
    vertical-align: bottom;


}

h1.ueberschrift {
    text-align: center;
    font-size: 40pt;
    width: 20%;
   display: inline;
}

table {
    font-size: 14px;
}

td.filmtTD {
    padding-left: 100px;
}

button.buttonsize {
    width: 100%;

}

.back {
    margin-left: 10px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited, a:active {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

div.textUeberschrift {
    margin-left: 45%;
    clear: both;
}

td.left {
    text-align: left;
}

td.alignRight {
    margin: 0px auto;
}

table.musicFilm {
    line-height: 40px;
    margin-left: 15%;
}

.center{
    text-align: center;
}