html{
    background-color: RGB(26,32,94);
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}


div.logo {
    float: right;
    width: 115px;
    height: 130px;
    border: 3px solid black;


}

h1.ueberschrift {
    text-align: center;
    font-size: 40pt;
    width: 20%;
    display: inline;
}

table {
    line-height: 50px;
    margin-left: 10%;
    font-size: 14px;
}


td {
    padding-left: 60px;
}

button.buttonsize {
    width: 100%;

}

.back {
    margin-left: 10px;
}
a:link{
    color:white;
    text-decoration: none;
}
a:visited, a:active {
    color: #ffffff;
    text-decoration: none;
}



 td{
    padding-left: 50px;
 }

a:hover{
    color:darkblue;
    background-color: white;
}
