#head {

    text-align: center;
    font-size: 36px;
}

.kasten {
    width: 300px;
    height: 80px;
    position: absolute;
    text-align: center;
    border: solid 8px #ffffff;
    line-height: 80px;
}

.kasten:hover {
    background-color: RGB(165, 169, 230);
}

.kasten:active {
    background-color: RGB(0, 162, 232);
}

.left {
    border-right: 2px solid #ffffff;
    right: 50%;

}

.right {
    border-left: 2px solid #ffffff;

    left: 50%;
}

.boxschrift {
    font-size: 16px;
    color: #ffffff;
}

table.musicTable, table.filmTable {
    border-collapse:collapse;
    border: solid 4px #ffffff;
    border-right-style: hidden;
    vertical-align: middle;
    font-size: 16px;
    width: 50%;
    margin: 0px auto;
    margin-top: 12%;
    color: white;
    text-align: center;
}

thead th,tbody td{
    height: 5px;
    border-style: solid;
    border-color: white;
    border-right-width:8px;
    border-left-width:4px;
    border-bottom-width: 4px;
    border-top-width: 2px;
    padding: 5px 10px;
}


thead.ueberschrift {
    color:red;
}



